.rpv-core__viewer {
    border: none !important;
    box-shadow: none !important;
}
.rpv-default-layout__container {
    border: none !important;
}

.pdf-viewer-container {
    height: 100vh;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    .rpv-core__viewer {
        font-size: 12px;
    }
}
